<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SpectacleManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddSpecProfile</display-name>
    <servlet-name>AddSpecProfile</servlet-name>
    <servlet-class>profile.controller.AddSpecProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpecProfile</servlet-name>
    <url-pattern>/AddSpecProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSpecProfile</display-name>
    <servlet-name>UpdateSpecProfile</servlet-name>
    <servlet-class>profile.controller.UpdateSpecProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSpecProfile</servlet-name>
    <url-pattern>/UpdateSpecProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSearch</display-name>
    <servlet-name>CustomerSearch</servlet-name>
    <servlet-class>customer.controller.CustomerSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSearch</servlet-name>
    <url-pattern>/CustomerSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrder</display-name>
    <servlet-name>AddOrder</servlet-name>
    <servlet-class>order.controller.AddOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrder</servlet-name>
    <url-pattern>/AddOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAdd</display-name>
    <servlet-name>CustomerAdd</servlet-name>
    <servlet-class>customer.controller.CustomerAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAdd</servlet-name>
    <url-pattern>/CustomerAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>customer.controller.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLogin</display-name>
    <servlet-name>StaffLogin</servlet-name>
    <servlet-class>staff.controller.StaffLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLogin</servlet-name>
    <url-pattern>/StaffLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffEdit</display-name>
    <servlet-name>StaffEdit</servlet-name>
    <servlet-class>staff.controller.StaffEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffEdit</servlet-name>
    <url-pattern>/StaffEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLogout</display-name>
    <servlet-name>StaffLogout</servlet-name>
    <servlet-class>staff.controller.StaffLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLogout</servlet-name>
    <url-pattern>/StaffLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerEdit</display-name>
    <servlet-name>CustomerEdit</servlet-name>
    <servlet-class>customer.controller.CustomerEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerEdit</servlet-name>
    <url-pattern>/CustomerEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrder</display-name>
    <servlet-name>UpdateOrder</servlet-name>
    <servlet-class>order.controller.UpdateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrder</servlet-name>
    <url-pattern>/UpdateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>product.controller.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
</web-app>